# Any changes should be copied to .prettierignore

# Secret
.env
.env.*
!.env.example
!.env.*.example

# Dependencies
node_modules/

# Development
dev.db

# Build
build/
dist/

# Cache and Logs
.rollup.cache/
.turbo/
.svelte-kit/
.log
graph-*.jpg

# Filesystem
.DS_Store
